$white: #fff;
$catskill-white: #f3f7fa;
$tundora: #4a4a4a;
$dodger-blue: #2196f3;
$iron: #d2d5d6;
$twilight-blue: #f2fcff;
$malibu: #64b5f5;
$twilight-blue: #f1fcff;
$tree-poppy: #ff9d1b;
$body-bg: $catskill-white;
$global-padding: 20px;
$global-margin: 20px;
$gutter-width: 20px;
$font-size-root: 16px;
$font-family: 'Open Sans', sans-serif;
$global-line-height: 1.15;

%visibility-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
