$white: #fff;
$catskill-white: #f3f7fa;
$tundora: #4a4a4a;
$dodger-blue: #2196f3;
$iron: #d2d5d6;
$twilight-blue: #f2fcff;
$malibu: #64b5f5;
$body-bg: $catskill-white;
$global-padding: 20px;
$global-margin: 20px;
$gutter-width: 20px;
$font-size: 16px;
$font-family: 'Open Sans', sans-serif;
$line-height: 1.15;
