$white: #fff;
$catskill-white: #f3f7fa;
$body-bg: $catskill-white;
$global-padding: 16px;
$global-margin: 16px;
$gutter-width: 16px;
$font-size: 16px;
$font-family: 'Open Sans', sans-serif;
$line-height: 1.15;
