@import './conf/configs';

.App {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100%;
	padding: $global-padding;

	&__container {
		display: grid;
		flex-grow: 1;
		grid-template-rows: auto [header-gap-start] 50px [header-gap-end] auto;
		max-width: 853px;
	}

	&__header {
		font-size: 1rem;
		grid-row: 1 / 2;
		letter-spacing: normal;
		line-height: $global-line-height;
	}

	&__tickets {
		grid-row: 3 / 4;
		grid-template-columns: min-content minmax(calc(365px + var(--scroll-width)), calc(100vw - #{$global-padding * 3} + var(--scroll-width) - 232px)) !important; /* stylelint-disable-line declaration-no-important */
	}

	// &__ticket {
	// 	@media (min-width: 792px) {
	// 		&__col {
	// 			// padding: $global-padding + 5 $global-padding;
		
	// 			&--action {
	// 				// display: grid;
	// 				// grid-row-gap: $gutter-width;
	// 				// min-width: 200px;
	// 				.ticket {
	// 					&__media {
	// 						display: flex;
	// 					}
	// 				}
	// 			}
				
	// 			&--content {
	// 				display: grid;
	// 				flex-grow: 1;
	// 				grid-row-gap: $gutter-width;
		
	// 				.ticket {
	// 					&__media {
	// 						display: none;
	// 					}
	// 				}
	// 			}
		
	// 			& ~ & {
	// 				// border-left: 1px solid $porcelain;
	// 				padding-top: $global-padding + 5;
	// 			}
	// 		}
	// 	}
	// }
}

.container {
	margin: 0 auto;
}

.aside {
	&__item {
		@extend %tile;

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&:not(:last-child) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&--no-padding {
			padding: 0;
		}
	}
}
