@import './conf/configs';

.buttons-group {
	$buttons-group: &;
	display: grid;
	grid-row-gap: $gutter-width / 2;

	&__title {
		$lh: 19 / 12;
		color: $tundora;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: .5px;
		line-height: $lh;
		margin: 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		min-height: 40px;
		position: relative;

		&:first-child {
			#{$buttons-group} {
				&__label {
					border-bottom-left-radius: 5px;
					border-top-left-radius: 5px;
				}
			}
		}

		&:last-child {
			#{$buttons-group} {
				&__label {
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
				}
			}
		}

		& ~ & {
			margin-left: -1px;
		}
	}

	&__input {
		@extend %visibility-hidden;

		bottom: 0;
		height: 100%;
		left: 1px;
		position: absolute;
		right: 0;
		top: 1px;
		width: 100%;

		&:checked {
			+ #{$buttons-group} {
				&__label {
					background-color: $dodger-blue;
					border-color: $dodger-blue;
					z-index: 2;

					#{$buttons-group} {
						&__text {
							color: $white;
						}
					}
				}
			}
		}

		&:not(:checked) {
			+ #{$buttons-group} {
				&__label {
					&:hover,
					&:focus {
						background-color: $twilight-blue;
						border-color: $malibu;
						z-index: 1;
					}
				}
			}
		}

		&:disabled {
			+ #{$buttons-group} {
				&__label {
					cursor: not-allowed;
					filter: grayscale($fibo-asymp-xxxl);

					&:hover,
					&:focus {
						background-color: $white;
						border-color: $iron;
						z-index: auto;
					}
				}
			}

			&:checked {
				+ #{$buttons-group} {
					&__label {
						&:hover,
						&:focus {
							background-color: $dodger-blue;
							border-color: $dodger-blue;
							z-index: 2;
						}
					}
				}
			}
		}
	}

	&__label {
		align-items: center;
		background-color: $white;
		border: 1px solid $iron;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		padding: $global-padding / 4;
		position: relative;
		text-transform: uppercase;

		&:hover,
		&:focus {
			background-color: $twilight-blue;
			border-color: $malibu;
			z-index: 1;
		}
	}

	&__text {
		color: $dodger-blue;
		display: block;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: .5px;
		margin: 0 auto;
		max-height: calc(2em * #{$global-line-height});
		overflow: hidden;
		text-align: center;
	}
}
