@import '../assets/styles/conf/configs';

.filter {
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(91, 137, 164, .25);
	display: grid;
	grid-row-gap: 0;
	width: 232px;

	&__tile {
		padding: 15px;
	
		&--nopadding {
			padding: 0;
		}
	}

	&__check-list {
		padding-bottom: 15px;
		padding-top: 15px;

		.check-list {
			&__title {
				padding-left: 15px;
				padding-right: 15px;
			}

			&__label {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
