@import './conf/configs';

.filter {
	&__stop-list {
		padding-bottom: $global-padding - 5;
		padding-top: $global-padding - 5;

		.stop-list {
			&__title {
				padding-left: $global-padding - 5;
				padding-right: $global-padding - 5;
			}

			&__label {
				padding-left: $global-padding - 5;
				padding-right: $global-padding - 5;
			}
		}
	}
}
