.loader {
	align-items: center;
	display: inline-flex;
	justify-content: center;
}
.loader__text {
	font-family: monospace;
	font-size: 1.125rem;
	padding-right: 1.15em;
	position: relative;
}
.loader__text::after {
	animation: dots 1s steps(5, end) infinite;
	content: ' .';
	position: absolute;
	right: 0;
	top: 0;
	width: 1.15em;
}
