@import './conf/configs';

.ticket {
	$ticket: &;
	@extend %tile;
	display: flex;
	flex-flow: column wrap;
	max-width: 100%;
	padding: 0;

	@media (min-width: #{200px + 300px + $global-padding * 2 + $max-scroll-width}) {
		flex-direction: row;
		&__col {
			padding: $global-padding + 5 $global-padding;
	
			&--action {
				padding-top: $global-padding + 5;
			}
		}
	}

	&__col {
		padding: $global-padding + 5 $global-padding;

		&--action {
			align-self: flex-end;
			display: grid;
			grid-row-gap: $gutter-width;
			min-width: 200px;
		}
		
		&--content {
			align-items: center;
			display: grid;
			flex-grow: 1;
			grid-row-gap: $gutter-width;

			#{$ticket} {
				&__media {
					display: flex;
				}
			}
		}

		& ~ & {
			border-left: 1px solid $porcelain;
			padding-top: 0;
		}
	}

	&__route {
		align-items: center;
		display: grid;
		grid-column-gap: $gutter-width;
		grid-template-columns: max-content 1fr max-content;
		justify-content: space-between;

		&--body {
			grid-column-gap: $gutter-width / 2;

			#{$ticket} {
				&__origin,
				&__destination {
					color: $tundora;
					display: grid;
					font-size: 12 / 16 + rem;
					font-weight: 600;
					grid-row-gap: $gutter-width / 4;
				}
				&__origin {
					grid-column: 1 / 2;
				}
				&__destination {
					grid-column: 3 / 4;
				}
			}
		}
	}

	&__segment {
		display: grid;
		grid-row-gap: $gutter-width / 2;
	}

	&__date {
		color: $oslo-gray;
	}

	&__origin,
	&__destination {
		color: $tundora;
		font-size: 2rem;
		line-height: 1;
	}

	&__path {
		display: grid;
		grid-row-gap: 1px;

		&-stops {
			color: $oslo-gray;
			font-size: 10 / 16 + rem;
			font-weight: 600;
			min-height: 1em * $global-line-height;
			text-align: center;
			white-space: nowrap;
		}

		&-canvas {
			height: 13px;
			position: relative;

			&::before {
				background-color: #d2d5d6;
				content: '';
				height: 1px;
				left: 0;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&::after {
				background: $white url(../images/plane.png) center center no-repeat;
				content: '';
				height: 15px;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 15px;
			}
		}
	}

	&__media {
		display: none;
		justify-content: center;
	}

	&__media-img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	&__buy {
		@extend %btn;
		font-size: 1em;
		font-weight: 600;
		padding: 6px $global-padding / 2;
		width: 100%;

		> * {
			margin: 2px 0;
		}
	}

	&__price {
		$price: &;
		display: flex;
		font-size: 1em;
		justify-content: center;

		&-inner {
			max-width: 100%;
			position: relative;
		}

		&-value {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&-currency {
			bottom: 0;
			font-weight: 400;
			position: absolute;
			right: 0;
			top: 0;

			~ #{$price} {
				&-value {
					padding-right: 14px;
				}
			}
		}
	}
}
