@import './conf/configs';

.tickets {
	display: grid;
	grid-row-gap: $gutter-width;

	&__main {
		align-items: flex-start;
		display: flex;
	}

	&__aside {
		min-width: 232px;
	}

	&__list {
		flex-grow: 1;
		max-width: 100%;
	}
}
